*{
    margin: 0;
    padding: 0;
}
body{
    color: aqua;
    font-size: 25px;
}
.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 50px 1fr 50px 50px;
}
#header{
    background-color: #e54b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
#content{
    color: #1b1b1e;
    background-color: #f5f5f5;
    line-height: 1.5;
    padding: 20px;
}
#nav ul{
    padding: 0 20px;
    height: 50px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav, #aside{
    background-color: #6d676e;
}
#nav ul li a{
    text-decoration: none;
    color: #faa916;
    /* bigger screen */
    background: transparent;
    font-size: 20px;
    transition: background 2s ease, color 2s ease
}
#nav ul li a:hover{
    color: #1b1b1e;
    background: transparent;
}
#aside{
    padding: 0 20px;
}
#aside ul{
    list-style-type: none;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#aside ul li a{
    text-decoration: none;
    color: #faa916;
    /* bigger screen */
    background: transparent;
    font-size: 20px;
    transition: color 2s ease;
}
#aside ul li a:hover{
    color: #1b1b1e;
}
#footer{
    background-color: #1b1b1e;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width:776px ){
    .container{
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 75px 1fr 50px;
        grid-template-areas: 
        "header header header"
        "nav content aside"
        "footer footer footer";
    }
    #header{
        grid-area: header;
    }
    #nav{
        grid-area: nav;
    }
    #content{
        grid-area: content;
    }
    #aside{
        grid-area: aside;
    }
    #footer{
        grid-area: footer;
    }
    #nav ul{
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #aside ul{
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }
    #nav ul li a{
        width: 100px;
        text-align: center;
        padding: 10px;
        display: block;
    }
    #nav ul :hover{
        background: #7e7880;
    }
    #aside ul{
        align-items: center;
        justify-content: space-around;
        height: 100%;
        flex-direction: column;
        padding: 10px;
    }
}
